# coding: utf-8

"""
    API для работы с файловыми ресурсами контента 

    Получение стриминг ссылок, загрузка данных в хранилище и отправка данных в облачные s3 хранилища  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from file_storage_api.api_client import ApiClient


class TaskApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def download_task_api_v1_download_file_post(self, file_id, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_task_api_v1_download_file_post(file_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str file_id: (required)
        :return: TaskResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.download_task_api_v1_download_file_post_with_http_info(file_id, **kwargs)  # noqa: E501
        else:
            (data) = self.download_task_api_v1_download_file_post_with_http_info(file_id, **kwargs)  # noqa: E501
            return data

    def download_task_api_v1_download_file_post_with_http_info(self, file_id, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.download_task_api_v1_download_file_post_with_http_info(file_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str file_id: (required)
        :return: TaskResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method download_task_api_v1_download_file_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file_id' is set
        if ('file_id' not in params or
                params['file_id'] is None):
            raise ValueError("Missing the required parameter `file_id` when calling `download_task_api_v1_download_file_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'file_id' in params:
            query_params.append(('file_id', params['file_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/download_file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def upload_task_api_v1_upload_file_post(self, body, cdn, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_task_api_v1_upload_file_post(body, cdn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FileLocation body: (required)
        :param CDN cdn: (required)
        :return: TaskResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upload_task_api_v1_upload_file_post_with_http_info(body, cdn, **kwargs)  # noqa: E501
        else:
            (data) = self.upload_task_api_v1_upload_file_post_with_http_info(body, cdn, **kwargs)  # noqa: E501
            return data

    def upload_task_api_v1_upload_file_post_with_http_info(self, body, cdn, **kwargs):  # noqa: E501
        """Добавление информации о местонахождении файла  # noqa: E501

        Добавление информации о местонахождении файла  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_task_api_v1_upload_file_post_with_http_info(body, cdn, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FileLocation body: (required)
        :param CDN cdn: (required)
        :return: TaskResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'cdn']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method upload_task_api_v1_upload_file_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `upload_task_api_v1_upload_file_post`")  # noqa: E501
        # verify the required parameter 'cdn' is set
        if ('cdn' not in params or
                params['cdn'] is None):
            raise ValueError("Missing the required parameter `cdn` when calling `upload_task_api_v1_upload_file_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cdn' in params:
            query_params.append(('cdn', params['cdn']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/upload_file', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
